.App {
  text-align: center;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Motto{
  color: #C0392B;
  font-size: 2em;
}

.toolpic{
  width: 65%;
  height: 150px;
}


