.App {
  text-align: center;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Motto{
  color: #C0392B;
  font-size: 2.5em;
  margin: 20px auto;
}

.toolpic{
  width: 65%;
  height: 210px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.star{
/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E"); */
  background-image: url("https://rfclipart.com/image/big/64-e6-3f/outlines-of-building-tools-seamless-background-Download-Royalty-free-Vector-File-EPS-143532.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.thumbnail:hover {
  position:relative;
  top:-25px;
  left:-10px;
  width:450px;
  height:auto;
  display:block;
  z-index:999;
}

/*link at bottom*/
a.add {
  font-size: 1.5em;
  margin-top: 1em;
  display:inline-block;
}

div.copyright{
  font-size: 2.5em;
  margin: 1.5em 0em;
}

.smaller{
  width: 75%;
  margin-left: 20px;
}

.navAdd{
  font-size: 75;
  float: left;
  margin-top : 1.5em;
  margin-left: 1.5em;
}

div.shrink {
  margin-left: -100%;
  margin-right: -100%;
}

div.bright {
  color: black;
}



